@model Prototype.Models.UserProfile
<script type="text/javascript">


        //function sendmessage() {
        //    var message = $('#messagecontent').val();

        //    console.log(message);

        //}


         $(document).ready(function () {


        // below ajax gets messages connected to the candidate on page and the logged in user
        $.ajax({
            url: '/Chat/GetChatHistory',
            dataType: "Json",
            type: "GET",
            data: { toUserId: '@Model.Id'},
            contentType: 'application/x-www-form-urlencoded',
            cache: false,
            //this needs changed whe table fully normalised

            success: function (data) {
                console.log(data)

                
                //loops through values returned in json format by above url
                $.each(data, function (key, val) {
                   //need to add validation that not empty here
                    //fomrat send time date 
                    var fullDate = val.createdDate; 
                    var date = fullDate.substring(0, 10);
                    var time = fullDate.substring(11, 16); 
                    //establishing if a sent or recieved message and formatting 
                    var align; 
                    if(val.fromUserId != '@Model.Id'){
                    /*align = '<div class= "  card   bubble-left" >'; */
                        align = '<div class=" row  bubble-right" >'
                            + '<div class="">' +
                            ' <div class=" messageDark" >'; 
                    }else{
                    /* align = '<div class= "  card  bubble-right" >'; */
                        align = '<div class=" row buffer bubble-left" >'
                            + '<div class="">' + 
                            ' <div class=" messageLight" >'; 
                    }

                    $("#conversation").append(


                        //float-right
                        align +
                        ///*'<div class=" row buffer" >'*/
                        //+'<div class="card">'+
                        ///* + align +*/ 
                        /*' <div class="card-body" >' +*/
                        '<p>' + val.fromUser.firstName + ' ' + val.fromUser.lastName + '</p>' +
                        '<p>' + val.message + '</p>' +
                        '<p> Sent: ' + date + ' at ' + time + '</p>' +

                        '</div>' +
                        '</div >' +
                        '</div>'
                         
                    );//end of .append
                });//end of for loop
                
            }, //end of success function
            error: function (xhr) {
                alert( 'error');
            }

        }); //end ajax

    }); //end document.load

</script>

    <div class="container text buffer  fullHeight">


        <h2>Your Message History with @Model.FirstName @Model.LastName </h2>
        
        @if (Model.CompanyName != null)
        {
            <p>from @Model.CompanyName </p>

        }

        <div class="row buffer messages">
            <div class="col-sm-9 border">
                <div class="row border messages scrollgrid">


                    <div id="conversation" style="width:100%"></div>


                </div>

                <form method="post" action="Chat/SaveMessage">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group input-group-lg">
                                @*<input name="toUserId" id="toUserId" value="@Model.Id" type="hidden" class="control-label" />*@
                                @Html.Hidden("toUserId", Model.Id)
                                <input name="messageContent" type="text" class="form-control input-lg" id="messagecontent" placeholder="Type your message here...">
                                <span class="input-group-btn">
                                    <a onclick="sendmessage"><button class="btn btn-primary" type="submit">Send</button></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>






            </div>

            <div class="col-sm-3  scrollgrid  border">
                @if (User.IsInRole("Employer"))
                {
                    <h5 class="heading">Create a Contract <i class="fas fa-file-signature"></i></h5>
                    <h6>Like how things are going?</h6>

                    <p>If you've confirmed this freelancer has the skills you need then it's time to set up a contract and get working! </p>

                    <a asp-controller="Contract" asp-route-candidateId="@Model.CandidateId" asp-action="Create" class="btn btn-primary mx-2">Create <i class="fas fa-plus"></i></a>

                    <p> <i>Make sure you have agreed a rate before confirming a contract.</i> </p>

                    <p>You need a live job to create a contract, you can create one 
                <a asp-controller="Job" asp-action="Create">here</a> if you don't have one or would like to create one for this freelancer. </p> 

                  }else if (User.IsInRole("Candidate"))
                        {
                    <h5 class="heading buffer">Make the most of your conversartion!</h5>

                    <p>Employers want to know that you have the right skills for the job, if you're ask a technical question improve 
                your chances by answering using the STAR Format:</p>
                    <ul>
                        <li><i>Situation</i>: Describe the situation and when it took place. </li>
                        <li><i>Task</i>: Explain the task and what was the goal. </li>
                        <li><i>Action</i>: Provide details about the action you took to attain this. </li>
                        <li><i>Result</i>: Conclude with the result of your action. </li>
                    </ul>

                        }



                </div>


        </div>

     </div>