@model Prototype.Models.UserProfile
<script type="text/javascript">


        //function sendmessage() {
        //    var message = $('#messagecontent').val();

        //    console.log(message);

        //}


         $(document).ready(function () {


        // below ajax gets messages connected to the candidate on page and the logged in user
        $.ajax({
            url: '/Chat/GetConversation',
            dataType: "Json",
            type: "GET",
            data: { toUserId: '@Model.Id'},
            contentType: 'application/x-www-form-urlencoded',
            cache: false,
            //this needs changed whe table fully normalised

            success: function (data) {
                console.log(data)

                
                //loops through values returned in json format by above url
                $.each(data, function (key, val) {
                   //need to add validation that not empty here
                    //fomrat send time date 
                    var fullDate = val.createdDate; 
                    var date = fullDate.substring(0, 10);
                    var time = fullDate.substring(11, 16); 
                    //establishing if a sent or recieved message and formatting 
                    var align; 
                    if(val.fromUserId != '@Model.Id'){
                    /*align = '<div class= "  card   bubble-left" >'; */
                        align = '<div class=" row  bubble-right" >'
                            + '<div class="">' +
                            ' <div class=" messageDark" >'; 
                    }else{
                    /* align = '<div class= "  card  bubble-right" >'; */
                        align = '<div class=" row buffer bubble-left" >'
                            + '<div class="">' + 
                            ' <div class=" messageLight" >'; 
                    }

                    $("#conversation").append(


                        //float-right
                        align +
                        ///*'<div class=" row buffer" >'*/
                        //+'<div class="card">'+
                        ///* + align +*/ 
                        /*' <div class="card-body" >' +*/
                        '<p>' + val.fromUser.firstName + ' ' + val.fromUser.lastName + '</p>' +
                        '<p>' + val.message + '</p>' +
                        '<p> Sent: ' + date + ' at ' + time + '</p>' +

                        '</div>' +
                        '</div >' +
                        '</div>'
                         
                    );//end of .append
                });//end of for loop
                
            }, //end of success function
            error: function (xhr) {
                alert( 'error');
            }

        }); //end ajax

    }); //end document.load

</script>

    <div class="container text buffer  fullHeight">


        <h2>Your Message History with @Model.FirstName @Model.LastName </h2>
        
        @if (Model.CompanyName != null)
        {
            <p>from @Model.CompanyName </p>

        }

        <div class="row buffer messages">
            <div class="col-sm-9 border">
                <div class="row border messages scrollgrid">


                    <div id="conversation" style="width:100%"></div>


                </div>

                <form method="post" action="Chat/SaveMessage">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group input-group-lg">
                                @*<input name="toUserId" id="toUserId" value="@Model.Id" type="hidden" class="control-label" />*@
                                @Html.Hidden("toUserId", Model.Id)
                                <input name="messageContent" type="text" class="form-control input-lg" id="messagecontent" placeholder="Type your message here...">
                                <span class="input-group-btn">
                                    <a onclick="sendmessage"><button class="btn btn-primary" type="submit">Send</button></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>






            </div>

            <div class="col-sm-3  scrollgrid  border">




            </div>


        </div>

     </div>