@model Prototype.Models.Employer
  
<script type="text/javascript">

    //TODO: AJAX for Likes / AJAX for reviews / AJAx for Contracts

    $(document).ready(function () {

        // below ajax gets Jobs connected by user Id and displays them on the page
        $.ajax({
            url: '/Job/GetJobsByUserID',
            dataType: "Json",
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            cache: false,
            //this needs changed whe table fully normalised

            success: function (data) {
                //console.log(data)
               // loops through values returned in json format by above url
                if (data != null) {


                $.each(data.data, function (key, val) {
                   //need to add validation that not empty here
                   //job id is jobId

                    //action link use to generate url string
                    var url = '@Url.Action("Edit", "Job", new { id = "replaceToken" })';
                    url = url.replace("replaceToken", val.jobId);
                    //bleow appende content to div with id passed as arg
                    $("#jobsoutput").append(

                        '<div class"card ">' +
                        '<div class="card-body">' +


                        //change below if needs title normalised

                        '<a href="' + url + '"><h5 class="card-title">' + val.jobTitle + ' <i class="far fa-edit"></i></h5></a>' +
                        "<h5 class='card-text'>Duration:" + val.duration + ' weeks</h5>' +
                        '<p class="card-text">Start Date: ' + val.startDate.substring(0, 10)+'</p>'+

                    // <a href="#" class="btn btn-primary">Go somewhere</a>
                    '</div>'+
                       ' </div>'
                    );//end of .append
                });//end of for loop
                }
            }, //end of success function
            error: function (xhr) {
                alert( 'error');
            }

        }); //end ajax



        // below ajax gets Jobs connected by user Id and displays them on the page
        $.ajax({
            url: '/Like/GetlikesByEmployerID',
            dataType: "Json",
            type: "GET",
            data: { employerId: @Model.EmployerId},
            contentType: 'application/x-www-form-urlencoded',
            cache: false,
            //this needs changed whe table fully normalised

            success: function (data) {
                 // console.log(data)
               // loops through values returned in json format by above url
                $.each(data, function (key, val) {
                   //need to add validation that not empty here
                   //job id is jobId

                    //action link use to generate url string
                    var url = '@Url.Action("CandidateProfile", "Candidate", new { id = "replaceToken" })';
                    url = url.replace("replaceToken", val.candidateId);
                    //bleow appende content to div with id passed as arg
                    var type;
                    if (val.likeType == 1) {
                         type = ' your job!'
                    } else if (val.likeType == 2) {
                         type =  'your company!'
                    }
                    $("#likesoutput").append(

                        '<div class= "card">'+
                       ' <div class="card-body">'+
                        '<p><a href="'+url+'">' + val.firstName + ' ' + val.lastName + ' </a> likes ' +
                       type
                    +'</p>'+
                         '</div>'+
                        '</div >'

                    );//end of .append
                });//end of for loop

            }, //end of success function
            error: function (xhr) {
                alert( 'error');
            }

        }); //end ajax

         $.ajax({
             url: '/Contract/GetContractsEmployerHub',
            dataType: "json",
            type: "GET",
            data: { employerId: @Model.EmployerId},
            contentType: 'application/x-www-form-urlencoded',
            cache: false,

            success: function (data) {
                console.log(data)

                $.each(data.data, function (key, val) {
                   //need to add validation that not empty here

                    if (val.isUnderContract == true) {
                        //action link use to generate url string
                        var url = '@Url.Action("EmployerHubRedirect", "Contract", new { contractId = "replaceToken" })';
                        url = url.replace("replaceToken", val.contractId);

                        $("#contractsoutput").append(

                            '<div class= "card">' +
                            ' <div class="card-body">' +
                            '<h5><a href="' + url + '">' + val.fullName + ' <i class="far fa-edit"></i> </a>'
                            + '</h5>' +
                            '<h5>' + val.jobTitle + '</h5>' +
                            '<p> Start Date: ' + val.startDate.substring(0, 10) + '</p>' +
                            '</div>' +
                            '</div >'

                        );//end of .append
                    } else {

                         var url = '@Url.Action("EmployerHubRedirect", "Contract", new { contractId = "replaceToken" })';
                        url = url.replace("replaceToken", val.contractId);

                        $("#contractsoutput").append(

                            '<div class= "card completed">' +
                            ' <div class="card-body">' +
                            '<h5>' + val.fullName + '<a href="' + url + '"> Completed Contract <i class="fa fa-check" aria-hidden="true"></i></a>'
                            + '</h5>' +
                            '<h5>' + val.jobTitle + '</h5>' +
                            '<p> Start Date: ' + val.startDate.substring(0, 10) + '</p>' +
                            '</div>' +
                            '</div >'
                            );//end of .append

                    }
                });//end of for loop

            }, //end of success function
            error: function (xhr) {
                console.log(xhr);
            }

        }); //end ajax





         $.ajax({
            url: '/Chat/GetConversations',
            dataType: "Json",
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            cache: false,


            success: function (data) {
                console.log(data)

                $.each(data.data, function (key, val) {
                   //need to add validation that not empty here


                    //action link use to generate url string
                    var url = '@Url.Action("Index", "Chat", new { userId = "replaceToken" })';
                    url = url.replace("replaceToken", val.displayId);

                    $("#messagesoutput").append(

                        '<div class= "card">'+
                       ' <div class="card-body">'+
                        '<h5> Continue your conversation with <a href="' + url + '"> ' + val.fullName + '  </a>'
                        + '</h5>' +


                         '</div>'+
                        '</div >'

                    );//end of .append
                });//end of for loop


            }, //end of success function
            error: function (xhr) {
                alert( 'error');
            }

        }); //end ajax



    }); //end document.load


</script>





<div class="  text buffer">
    <h1>Your Employer Hub </h1>




    <div class="dashboard row ">
       

        <div class="  col-sm">
            <div class="addJob">
                <h3 class=" heading">Your Live Jobs <i class="fas fa-toolbox"></i> </h3>
                <a asp-controller="Job" asp-action="Create"> <button class=" addJob"><i class="fas fa-plus"></i> Add </button></a>
            </div>


            <div class=" scrollgrid border ">
                <div class="container buffer">
                   
                    <!--ajax call to get jobs by user id content appened to this div -->
                    <div id="jobsoutput"></div>
                </div>
                
               
                

                
            </div>
        </div>




        <div class="  col-sm">
            <h3 class=" heading">Your Likes <i class="far fa-thumbs-up"></i></h3>
            <div class=" scrollgrid  border">
                <!--content here using ajax-->
                <div class="container buffer">

    <!--ajax call to get jobs by user id content appened to this div -->
       <div id="likesoutput"></div>
</div>
            </div>
        </div>
    </div><!--End of row-->

    <div class="dashboard row ">
       

        <div class="  col-sm">
            <h3 class=" heading">Your Contracts <i class="fas fa-file-signature"></i></h3>
            <div class=" scrollgrid  border">
                <!--content here using ajax-->
                <div class="container buffer">

                    <!--ajax call to get contracts  id content appened to this div -->
                    <div id="contractsoutput"></div>
                </div>
            </div>
        </div>




        <div class="  col-sm">
            <h3 class=" heading">Your Conversations <i class="far fa-comments"></i></h3>
            <div class=" scrollgrid  border">
                <!--content here using ajax-->
                <div class="container buffer">

                    <!--ajax call to get jobs by user id content appened to this div -->
                    <div id="messagesoutput"></div>
                </div>
            </div>
        </div>
    </div>


</div>
