@model Prototype.Models.Employer
<script type="text/javascript">

    $(document).ready(function () {


        //ajax to check if employer likes candidate and alter like button
         $.ajax({
            url: '/Like/AlreadyLiked',
            dataType: "Json",
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            cache: false,
            //this needs changed whe table fully normalised
            data: { id : @Model.EmployerId}  ,
            success: function (data) {
                console.log(data);
                //if already liked replace with unlike button
                if (data == true) {
                    $("#like").html(
                        '<div id="like">' +
                        ' <button type="button" class="btn btn-primary">UnLike <i class="fas fa-minus-circle"></i></button>' +
                        '</div>'
                    );
                }




            },
            error: function (xhr) {
                alert('error');
            }

        }); //end ajax

        //ajax to check if candidate has mutual like with employer and then allow messaging
        $.ajax({
            url: '/Like/HasMutualLike',
            dataType: "Json",
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            cache: false,
            //this needs changed whe table fully normalised
            data: { id : @Model.EmployerId}  ,
            success: function (data) {
                console.log(data);
                //if mutual like true replace with message
                if (data == true) {
                     var url = '@Url.Action("EmployerPageRedirect", "Chat", new { employerId = @Model.EmployerId })';
                    $("#message").html(
                        '<div id="message">' +
                        //'<button onclick="location.href="' + url +'" class="btn btn-primary"  type="button"> Message</button>'

                        '<a href="' + url + '"><button class="btn btn-primary marginTop">Message</button></a>'
                        + '<p><i class="fas fa-handshake"></i> Congrats you both liked each other!</p>'
                        +'</div>'
                    );
                }




            },
            error: function (xhr) {
                alert('error');
            }

        }); //end ajax






            $('#like').click(function () {


                 var like = '@LikeType.CandidateLikesEmployer';

                var eId = @Model.EmployerId;
                var data = { likeType : like, employerId : eId };

                $.ajax({
                    url: '/Like/CreateLikeEmployer/',
                    type: "POST",
                    contentType: 'application/x-www-form-urlencoded',
                    cache: false,
                    data: data,
            success: function () {
                $("#like").html(
                    '<div id="like">'+
                       ' <button type="button" class="btn btn-primary">UnLike <i class="fas fa-minus-circle"></i></button>'+
                    '</div>'
                );
                //reload to show messaging 
                location.reload(); 


            },
            error: function (jqxhr, status, exception) {
                alert('Exception:', exception);

            }


        }); //end ajax
        }); //end click
        }); //end document.load



</script>
<div class="container text buffer">
    <div class=" row">
        <div class="col-sm">
            <h1>@Model.CompanyName</h1>
        </div>
        <div class="col-sm" id="like">
            <button type="button" class="btn btn-primary">Like <i class="fas fa-thumbs-up"></i></button>
        </div>
       

        

    </div>
    <div class="row buffer">

        <div class="col-sm-6">
            <div id="message"></div>
            <h3>Overview</h3>
            <p>@Model.CompanyOverview</p>

        </div>
        <div class="col-sm-6">
            <h3>Your Logo</h3>

            @if (Model.CompanyLogo != null)
            {
                <img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.CompanyLogo))">
            }
            else
            {
                <img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png">
            }



        </div>


    </div>










</div>